<div class="slider_area">
    <div class="single_slider  d-flex align-items-center slider_bg_1">
        <div class="container">
            <!--<div class="row align-items-center justify-content-start">
              <div class="col-lg-10 col-md-10">
                  <div class="slider_text">
                      <h3 class="wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".1s">
                      </h3>
                       <a class="boxed-btn3 wow fadeInLeft"  data-wow-duration="1s" data-wow-delay=".2s" href="portfolio.html">Visit Our Works</a> 
                  </div>
              </div>
          </div>-->
        </div>
    </div>
</div>
<div class="frase-inicio wow fadeInUp">
    <div class="container">
        <div class="row">
            <div class="log-lg-6">
                <h1 class="col-md-12 offset-md-1">
                    Una comunidad en la que se escuchen todas las voces
                </h1>
            </div>
        </div>
    </div>
</div>

<div class="service_area">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="section_title text-center mb-70">
                    <!-- <span class="wow fadeInUp" data-wow-duration="1s" data-wow-delay=".1s"> Ejes</span>-->
                    <h3 class="wow fadeInUp" data-wow-duration="1.2s" data-wow-delay=".4s"> Ejes
                    </h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-4 col-md-4 mb-4">
                <div class="card wow fadeInRight estilo-card" data-wow-duration="1.2s" data-wow-delay=".5s"
                    style="width: 18rem;">
                    <img class="card-img-top" src="../assets/img/reus-imp/feminismo-todos.jpeg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Deconstruyendo el género</h5>
                        <p class="card-text">Espacio dedicado a la reflexión del feminismo, la equidad de género y sus
                            implicaciones en el desarrollo social</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-4 mb-4">
                <div class="card wow fadeInRight estilo-card" data-wow-duration="1.2s" data-wow-delay=".6s"
                    style="width: 18rem;">
                    <img class="card-img-top" src="../assets/img/reus-imp/historias-ciudad.jpeg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Historias de la ciudad</h5>
                        <p class="card-text">Este espacio es un esfuerszo por recuperar la memoria colectiva de nuestras
                            comunidades, de nuestros barrios, de nuestras calles. Como una forma de rescatar, preservar
                            , y comprender nuestras raíces, nuestras historias</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-4">
                <div class="card wow fadeInRight estilo-card " data-wow-duration="1.2s" data-wow-delay=".5s"
                    style="width: 18rem;">
                    <img class="card-img-top" src="../assets/img/reus-imp/laotra-gdl.jpeg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">La otra Guadalajara</h5>
                        <p class="card-text">La otra Guadalajara es un espacio de análisis y critica social de los
                            sucesos políticos que influyen en nuestra sociedad, en nuestras cotidianidades, en la vida
                            pública de la ciudad</p>
                    </div>
                </div>
            </div>

            <div class="col-xl-4 col-md-4">
                <div class="card wow fadeInRight estilo-card" style="width: 18rem;">
                    <img class="card-img-top" src="../assets/img/reus-imp/reinventar.jpeg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Reinventemos la Política</h5>
                        <p class="card-text">Repensar a través de la educación política del conocimiento de nuestros
                            derechos y oblicaciones, las instituciones del Estado, para poder reinventar la forma en que
                            se hace la política en nuestra ciudad, como un esfuerzo por recuperar el espacio público
                            para las personas comunes.</p>
                    </div>
                </div>
            </div>

            <div class="col-xl-4 col-md-4">
                <div class="card wow fadeInRight estilo-card" data-wow-duration="1.2s" data-wow-delay=".4s"
                    style="width: 18rem;">
                    <img class="card-img-top" src="../assets/img/reus-imp/invisibles.jpeg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Los invisibles</h5>
                        <p class="card-text">Nuestra sociedad tiene una deuda histórica con distintas problemáticas
                            sociales que a través del tiempo se han vuelto invisibles. Este espacio busca darles voz a
                            tantas causas olvidadas; las personas en situación de calle, las desapariciones forzadas,
                            los asesinatos de activistas sociales, la persecución de periodistas, la represión policiaca
                            ante la libre manifestación de las ideas, la criminalización de la protesta social pacífica.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-xl-4 col-md-4">
                <div class="card wow fadeInRight estilo-card" data-wow-duration="1.2s" data-wow-delay=".4s"
                    style="width: 18rem;">
                    <img class="card-img-top" src="../assets/img/reus-imp/ecos-logo.jpeg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">ECOS</h5>
                        <p class="card-text">ECOS es un podcast dedicado a la reflexión y el debate de las problemáticas
                            sociales mas relevantes de nuestra historia.</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<!-- SPOTIFY-->

<div class="row">
       <div class="col-lg-12 wow fadeInRight spotify-log" data-wow-duration="1.0s" data-wow-delay=".4s">

                <div class="d-flex justify-content-center wow fadeInLeft">
            <a href="https://www.youtube.com/watch?v=C44h05RquoM"><img class="img-fluid img-spotify"
                    src="../assets/img/reus-imp/ecos-logo.jpeg" alt=""></a>

        </div>
        </div>
</div>
<div class="podcast-style">
    <div class="container">
        <div class="row spotify-sec">

            <div class="col-lg-12 wow fadeInUp escucha-style">
                <h3 class="text-center wow fadeInLeft mt-10" data-wow-duration="1s" data-wow-delay=".4s">Escucha
                    nuestro
                    Podcast </h3>
                <p class="mid_text mt-4 font-vos wow fadeInUp"> "Ecos" es el nombre que lleva nuestro podcast; en
                    el,
                    damos voz a las
                    problemáticas sociales y debatimos sobre las posibles soluciones</p>
                <p class="mid_text wow font-vos fadeInUp"> Recuerda qué puedes encontrarnos en <a
                        href="https://www.youtube.com/watch?v=C44h05RquoM">Spotify</a> y <a class="hiper-style"
                        href="https://www.youtube.com/watch?v=C44h05RquoM">Youtube</a></p>

                <!--<div class="wow fadeInUp" data-wow-duration="1s" data-wow-delay=".6s">
                    <a href="https://www.youtube.com/watch?v=C44h05RquoM"
                        class="video_icon popup-video escuchanos-style"> <i class="fa fa-play boton-play"></i>
                        Escuchanos dando click aquí </a>
                </div>-->
            </div>

        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="d-flex justify-content-center">

                    <a href="https://open.spotify.com/episode/4Twheq9Jo8RdgdirUZ1ddF?si=5SzgJDWjS7SpC_DzafQa_A" target="_blank">
                    <i class="fa fa-spotify fa-4x spotifybutton"></i>
</a>
                    <a href="">
                    <i class="fa fa-youtube-play fa-4x youtubeplayicon" aria-hidden="true"></i>
</a>
                </div>
            </div>
            <div class="col-lg-4">
                <a href="">

                </a>
            </div>
            <div class="col-lg-4">
                <a href="">

                </a>
            </div>
        </div>
     
    </div>

</div>
<br>
<br>

<div class="vos-area-desc">
    <div class="container">
        <div class="row wow fadeInUp ques-style">
            <div class="col-lg-6">
                <h3 class="text-center wow fadeInLeft mt-10" data-wow-duration="1s" data-wow-delay=".4s"> ¿Qué es
                    VOS?
                </h3>
                <p class="mid_text wow font-vos fadeInUp" data-wow-duration="1s" data-wow-delay=".3s">
                    VOS es un
                    movimiento que busca dar valor a las opiniones de la sociedad, a través del diálogo, la
                    diversidad de ideas, la inclusión, el rescate de la memoria colectiva. Soñamos con construir
                    una comunidad en donde todas las voces sean escuchadas, en la que nuestras palabras generen
                    eco, para que las problemáticas sociales dejen de ser invisibles, para comprender que más
                    allá de las circunstancias que nos dividen, compartimos una misma realidad. Queremos ser
                    parte de una comunidad que transforme a través de valores, principios, e intereses
                    colectivos, nuestro entorno, nuestro espacio público. Queremos tener la libertad de repensar
                    las instituciones del Estado, para que realmente nos representen, para que respondan a las
                    necesidades de nuestras cotidianidades. ¡Queremos ser parte de una comunidad en la que jamás
                    volvamos a ser obligados al silencio!

                </p>
            </div>
            <div class="col-lg-6 wow fadeInRight vosec-foto" data-wow-duration="1.0s" data-wow-delay=".4s">
                <img class="img-fluid" src="../assets/img/reus-imp/ques-vos.jpeg" alt="">
            </div>
        </div>
        <!--<div class="row justify-content-end">
            <div class="col-lg-5 offset-lg-1">
                <div class="about_info">
                    <div class="section_title white_text">
                        <span class="wow fadeInUp" data-wow-duration="1s" data-wow-delay=".3s">Valor a las Opiniones de
                            la Sociedad</span>
                        <h3 class="wow fadeInUp" data-wow-duration="1s" data-wow-delay=".4s">¿Qué es VOS? </h3>
                        <p class="mid_text wow fadeInUp" data-wow-duration="1s" data-wow-delay=".5s">VOS es un
                            movimiento que busca dar valor a las opiniones de la sociedad, a través del diálogo, la
                            diversidad de ideas, la inclusión, el rescate de la memoria colectiva. Soñamos con construir
                            una comunidad en donde todas las voces sean escuchadas, en la que nuestras palabras generen
                            eco, para que las problemáticas sociales dejen de ser invisibles, para comprender que más
                            allá de las circunstancias que nos dividen, compartimos una misma realidad. Queremos ser
                            parte de una comunidad que transforme a través de valores, principios, e intereses
                            colectivos, nuestro entorno, nuestro espacio público. Queremos tener la libertad de repensar
                            las instituciones del Estado, para que realmente nos representen, para que respondan a las
                            necesidades de nuestras cotidianidades. ¡Queremos ser parte de una comunidad en la que jamás
                            volvamos a ser obligados al silencio!

                        </p>
                        <!--<p class="last_text wow fadeInUp" data-wow-duration="1s" data-wow-delay=".6s">"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu".</p>-->
        <!-- <a href="#" class="boxed-btn3 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".7s">About Us</a> 
                    </div>
                </div>
            </div>
        </div>-->
    </div>
</div>


<div class="team_area ">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="section_title text-center mb-90">
                    <h3 class="wow fadeInUp" data-wow-duration="1s" data-wow-delay=".3s">Nuestras Voces</h3>
                    <!--<p class="wow fadeInUp" data-wow-duration="1s" data-wow-delay=".6s">Tour function information
                        without cross action media value quickly maximize timely deliverables.</p>-->
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="single_team wow fadeInUp" data-wow-duration="1s" data-wow-delay=".2s">
                    <div class="team_thumb">
                        <img src="../assets/img/team/reus.jpg" alt="">
                        <!--<div class="team_hover">
                            <div class="hover_inner text-center">
                                <ul>
                                    <li><a href="#"> <i class="fa fa-facebook"></i> </a></li>
                                    <li><a href="#"> <i class="fa fa-twitter"></i> </a></li>
                                    <li><a href="#"> <i class="fa fa-instagram"></i> </a></li>
                                </ul>
                            </div>
                        </div>-->
                    </div>
                    <div class="team_title text-center">
                        <h3>Jesús Reus</h3>
                        <!--<p>Founder & CEO</p>-->
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="single_team wow fadeInUp" data-wow-duration="1s" data-wow-delay=".6s">
                    <div class="team_thumb">
                        <img src="../assets/img/team/alicia.jpeg" alt="">
                        <!--<div class="team_hover">
                            <div class="hover_inner text-center">
                                <ul>
                                    <li><a href="#"> <i class="fa fa-facebook"></i> </a></li>
                                    <li><a href="#"> <i class="fa fa-linkedin"></i> </a></li>
                                    <li><a href="#"> <i class="fa fa-google-plus"></i> </a></li>
                                </ul>
                            </div>
                        </div>-->
                    </div>
                    <div class="team_title text-center">
                        <h3>Alicia Reus</h3>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="single_team wow fadeInUp" data-wow-duration="1s" data-wow-delay=".6s">
                    <div class="team_thumb">
                        <img src="../assets/img/team/Paloma.jpeg" alt="">
                        <!--<div class="team_hover">
                            <div class="hover_inner text-center">
                                <ul>
                                    <li><a href="#"> <i class="fa fa-facebook"></i> </a></li>
                                    <li><a href="#"> <i class="fa fa-linkedin"></i> </a></li>
                                    <li><a href="#"> <i class="fa fa-google-plus"></i> </a></li>
                                </ul>
                            </div>
                        </div>-->
                    </div>
                    <div class="team_title text-center">
                        <h3>Paloma</h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single_team wow fadeInUp" data-wow-duration="1s" data-wow-delay=".8s">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="../assets/img/team/caro.jpg" alt="Card image cap">
                    </div>
                    <!--<div class="team_thumb">
                        <img src="../assets/img/team/caro.jpg" alt="">
                        <div class="team_hover">
                            <div class="hover_inner text-center">
                                <ul>
                                    <li><a href="#"> <i class="fa fa-facebook"></i> </a></li>
                                    <li><a href="#"> <i class="fa fa-linkedin"></i> </a></li>
                                    <li><a href="#"> <i class="fa fa-google-plus"></i> </a></li>
                                </ul>
                            </div>
                        </div>
                    </div> -->
                    <div class="team_title text-center">
                        <h3>Carolina Toriz</h3>
                    </div>
                </div>
            </div>

        </div>
        <div class="row">

            <div class="col-lg-3 col-md-6">
                <div class="single_team wow fadeInUp" data-wow-duration="1s" data-wow-delay=".4s">
                    <div class="team_thumb">
                        <img src="../assets/img/team/cris.jpg" alt="">
                        <!--<div class="team_hover">
                            <div class="hover_inner text-center">
                                <ul>
                                    <li><a href="#"> <i class="fa fa-facebook"></i> </a></li>
                                    <li><a href="#"> <i class="fa fa-linkedin"></i> </a></li>
                                    <li><a href="#"> <i class="fa fa-google-plus"></i> </a></li>
                                </ul>
                            </div>
                        </div>-->
                    </div>
                    <div class="team_title text-center">
                        <h3>Cristina Torres</h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single_team wow fadeInUp" data-wow-duration="1s" data-wow-delay=".6s">
                    <div class="team_thumb">
                        <img src="../assets/img/team/dante.jpg" alt="">
                        <!--<div class="team_hover">
                            <div class="hover_inner text-center">
                                <ul>
                                    <li><a href="#"> <i class="fa fa-facebook"></i> </a></li>
                                    <li><a href="#"> <i class="fa fa-linkedin"></i> </a></li>
                                    <li><a href="#"> <i class="fa fa-google-plus"></i> </a></li>
                                </ul>
                            </div>
                        </div>-->
                    </div>
                    <div class="team_title text-center">
                        <h3>Dante Novoa</h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single_team wow fadeInUp" data-wow-duration="1s" data-wow-delay=".8s">
                    <div class="team_thumb">
                        <img src="../assets/img/team/emanuel.jpg" alt="">
                        <!--<div class="team_hover">
                            <div class="hover_inner text-center">
                                <ul>
                                    <li><a href="#"> <i class="fa fa-facebook"></i> </a></li>
                                    <li><a href="#"> <i class="fa fa-linkedin"></i> </a></li>
                                    <li><a href="#"> <i class="fa fa-google-plus"></i> </a></li>
                                </ul>
                            </div>
                        </div>-->
                    </div>
                    <div class="team_title text-center">
                        <h3>Emanuel Gutiérrez</h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single_team wow fadeInUp" data-wow-duration="1s" data-wow-delay=".4s">
                    <div class="team_thumb">
                        <img src="../assets/img/team/francisco.jpg" alt="">
                        <!--<div class="team_hover">
                            <div class="hover_inner text-center">
                                <ul>
                                    <li><a href="#"> <i class="fa fa-facebook"></i> </a></li>
                                    <li><a href="#"> <i class="fa fa-linkedin"></i> </a></li>
                                    <li><a href="#"> <i class="fa fa-google-plus"></i> </a></li>
                                </ul>
                            </div>
                        </div>-->
                    </div>
                    <div class="team_title text-center">
                        <h3>Francisco Nuño</h3>
                    </div>
                </div>
            </div>

        </div>

        <div class="row">

            <div class="col-lg-3 col-md-6">
                <div class="single_team wow fadeInUp" data-wow-duration="1s" data-wow-delay=".6s">
                    <div class="team_thumb">
                        <img src="../assets/img/team/itzel.jpg" alt="">
                        <!--<div class="team_hover">
                            <div class="hover_inner text-center">
                                <ul>
                                    <li><a href="#"> <i class="fa fa-facebook"></i> </a></li>
                                    <li><a href="#"> <i class="fa fa-linkedin"></i> </a></li>
                                    <li><a href="#"> <i class="fa fa-google-plus"></i> </a></li>
                                </ul>
                            </div>
                        </div>-->
                    </div>
                    <div class="team_title text-center">
                        <h3>Itzel Arevalo</h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single_team wow fadeInUp" data-wow-duration="1s" data-wow-delay=".8s">
                    <div class="team_thumb">
                        <img src="../assets/img/team/larisa.jpg" alt="">
                        <!--<div class="team_hover">
                            <div class="hover_inner text-center">
                                <ul>
                                    <li><a href="#"> <i class="fa fa-facebook"></i> </a></li>
                                    <li><a href="#"> <i class="fa fa-linkedin"></i> </a></li>
                                    <li><a href="#"> <i class="fa fa-google-plus"></i> </a></li>
                                </ul>
                            </div>
                        </div>-->
                    </div>
                    <div class="team_title text-center">
                        <h3>Larisa Flores</h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single_team wow fadeInUp" data-wow-duration="1s" data-wow-delay=".4s">
                    <div class="team_thumb">
                        <img src="../assets/img/team/aldo.jpg" alt="">
                        <!--<div class="team_hover">
                            <div class="hover_inner text-center">
                                <ul>
                                    <li><a href="#"> <i class="fa fa-facebook"></i> </a></li>
                                    <li><a href="#"> <i class="fa fa-linkedin"></i> </a></li>
                                    <li><a href="#"> <i class="fa fa-google-plus"></i> </a></li>
                                </ul>
                            </div>
                        </div>-->
                    </div>
                    <div class="team_title text-center">
                        <h3>Aldo Alvarado</h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single_team wow fadeInUp" data-wow-duration="1s" data-wow-delay=".2s">
                    <div class="team_thumb">
                        <img src="../assets/img/team/cesar.jpg" alt="">
                        <!--<div class="team_hover">
                            <div class="hover_inner text-center">
                                <ul>
                                    <li><a href="#"> <i class="fa fa-facebook"></i> </a></li>
                                    <li><a href="#"> <i class="fa fa-twitter"></i> </a></li>
                                    <li><a href="#"> <i class="fa fa-instagram"></i> </a></li>
                                </ul>
                            </div>
                        </div>-->
                    </div>
                    <div class="team_title text-center">
                        <h3>César Rodríguez</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>