<div class="slider_area">
  <div class="single_slider  d-flex align-items-center slider_bg_1 fondo-prop ">
      <div class="container">
          <div class="row align-items-center justify-content-start">
              <!--<div class="col-lg-10 col-md-10">
                  <div class="slider_text">
                      <h3 class="wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".1s">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                      </h3>
                      <a class="boxed-btn3 wow fadeInLeft"  data-wow-duration="1s" data-wow-delay=".2s" href="portfolio.html">Visit Our Works</a> 
                  </div>
              </div> -->
          </div>
      </div>
  </div>
</div>
<br>
<br>
<br>
<br>
<br>
<div class="how_we_work_area">
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <div class="work_info">
                    <div class="section_title">
                        <h3 class="wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".3s">Como trabajamos</h3>
                        <p class="mid_text wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".4s">“Fefe ujmkil
                            opertuj kuiterf gas de frytle."</p>
                        <p class="last_p wow fadeInRight" data-wow-duration="1s" data-wow-delay=".5s">I'm baby subway
                            tile slow-carb ex, humblebrag fashion axe church-key in ipsum labore plaid pitchfork minim.
                            .</p>
                    </div>
                    <div class="video_watch d-flex align-items-center">
                        <div class="play_btn wow fadeInUp" data-wow-duration="1s" data-wow-delay=".6s">
                            <a href="https://www.youtube.com/watch?v=D7tF-cY2M9o" class="video_icon popup-video"> <i
                                    class="fa fa-play"></i> </a>
                        </div>
                        <span class="wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".7s"> Watch Video</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<br>
<br>

<div class="spotify-area">
<div class="container">
    <div class="row justify-content-lg-center text-center">
        <div class="col-lg-5">
            <h3 class="wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".3s"> Escucha el ultimo capitulo</h3>
            <p class="mid_text wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".4s">“Fefe ujmkil
                opertuj kuiterf gas de frytle."</p>
        </div>
    </div>
</div>
<br>
<div class="container">

        <div class="row justify-content-lg-center">
           
            <div class="col-lg-6">
                <iframe src="https://open.spotify.com/follow/1/?uri=spotify:artist:6sFIWsNpZYqfjUpaCgueju&size=detail&theme=light" width="300" height="56" scrolling="no" frameborder="0" style="border:none; overflow:hidden;" allowtransparency="true"></iframe>
            </div>
 <div class="col-lg-6">
                <iframe src="https://open.spotify.com/embed/album/1DFixLWuPkv3KT3TnV35m3" width="300" height="380"
                    frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
            </div>
        </div>

</div>

</div>
